&uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed=<460800>;
	status="ok";
};

&uart1 {
	compatible = "nordic,nrf-uarte";
	current-speed=<230400>;
	status="ok";
	tx-pin = <21>;
	rx-pin = <22>;
	rts-pin = <23>;
	cts-pin = <24>;
	hw-flow-control;
};
